<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name=".VnfApplication"
        android:allowBackup="true"
        android:label="VNF"
        android:icon="@drawable/ic_vnf_launcher"
        android:roundIcon="@drawable/ic_vnf_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.VNF">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".ProactiveReceiver" android:exported="false" />
    </application>
</manifest>
